## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [63]:
a = 5
print (a)

5

2) Imprimir el tipo de dato de la variable 8.5

In [64]:
b = 8.5
print (type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [65]:
print ( type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [66]:
nombre = "Esteban"

5) Crear una constante que contenga el número Pi

In [67]:
PI = 3.1416

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [68]:
print ( type(c))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [69]:
e =2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [70]:
f = True
g = False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [71]:
print ( type(f))
print ( type(g))

<class 'bool'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [72]:
h = 3
j = 5.5
l = h + j
print (l)

8.5

11) Realizar una operación de suma de un número definido como string con un entero

In [73]:
n = "2"
m = 7
print (n + str(m))

27

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [74]:
A = e**3
print (A)

20.083723072568

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [75]:
ingreso1 = int(input("Ingrese un número: "))
ingreso2 = int(input("Ingrese otro número: "))
print (ingreso1 * ingreso2)

10

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [76]:
B = 27
C = 4
D = B // C
print (D)

6

15) De la división anterior solamente mostrar la parte entera

In [77]:
P = B / C
print (P)

6.75

16) De la división de 27 entre 4 mostrar solamente el resto

In [78]:
F = B % C  
print (F)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [83]:
print ( ( D * 4 ) + 3)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [80]:
"2" == 2

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [81]:
(int ("2")) == 2

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Porque los numeros flotantes se deben representar con un punto y no con una coma.

In [82]:
dato = float ('3,8')

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
operacion = 2 + '2'

No está permitido porque no se puede concatenar un str con un int.
Si ambos fueran del mismo tipo no arrojaria error.

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
menu = """"
1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir
"""
print (menu)

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [ ]:
print (lista[-2])

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [ ]:
lista[2] = 'Esteban'
print (lista)

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [88]:
matriz = [['A','B','C'], ['D','E','F'], ['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [89]:
print (matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [91]:
matriz[1][1] = 'Z'
print (matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [92]:
matriz[0][0:2] = [1,2,3]
print (matriz)

[[1, 2, 3, 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [93]:
marcas = ('Nike', 'Adidas', 'Puma', 'Reebok', 'Fila')
print (marcas)
print (type(marcas))

('Nike', 'Adidas', 'Puma', 'Reebok', 'Fila')
<class 'tuple'>

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [94]:
print (marcas[0])

Nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

Una vez creada una tupla no se puede modificar, agregar ni eliminar elementos dentro de ella

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [97]:
dicc = {'nombre': 'Esteban', 'apellido': 'La Spada', 'edad': 34, 'hobbies': ['futbol', 'voley', 'gimnacio']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [98]:
print ( dicc['hobbies'])

['futbol', 'voley', 'gimnacio']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [100]:
dicc ['edad'] = 35
print (dicc['edad'])

35